
* {
	box-sizing: border-box;
}

.contactImage {
	width: 40px;
	height: 40px;
}

.contactItem {
	padding: 20px;
	text-align: center;
	width: 33.33%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 5%;
	margin-bottom: 25px;
}

input {
	margin-bottom: 25px;
	border-color: black;
	padding: 5px;
	background-color: orange;
}

button {
	border-radius: 10%;
	background-color: orange;
	padding: 10px;
	margin-left: 10px;
}